* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.view-btn {
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 10px 10px 10px ;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 600;
    margin: 20px 20px 80px 0px;
    border-radius: 4px;
    align-self: flex-end;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}

.item {
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    overflow: hidden;
    flex: 1 1 25%;
    margin: 20px;
    color: white;
}

.item img {
    width: 100%;
    height: 300px;
    border-radius: 4px;

}

.item h1 {
    font-size: 28px;
    font-weight: bold;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.item data {
    color: whitesmoke;
    display: block;
    margin: 10px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    padding: 20px 40px 20px 20px;
   
}

.container {
    width: 100%;
    height: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#recipe-results-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 60%
}

#Ingredients {
    flex: 1 1 40%
}

section {
    display: flex;
}


.button-rounded-hover {
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  
  .button-rounded-hover:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .button-rounded-hover:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #115b8d;
    content: '';
    border-radius: inherit;
  }
  
  .button-rounded-hover:hover,
  .button-rounded-hover:focus {
    background-color: #115b8d;
  }
  
  .button-rounded-hover:hover:before,
  .button-rounded-hover:focus:before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0.25;
  }
  
#sitemain {
    display: flex;
}

.ingredients_section {
    padding: 20px;
    margin: 20px;
}

#site-header-text {
    text-align: center;
    font-weight: bold;
}

header h1 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    padding: 5px;
}